#top{
  margin: 0px;
  padding:0px;
  padding-top: 0px;
}
header{
  background-color: inherit;
  height: 60px;
  text-align: right;
  position: fixed;
  width: 100%;
}
nav{
  text-align: right;
  opacity: 0.7;
}
#top{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-style: normal;
  font-weight: bold;
  margin: 0px;
  padding:0px;
  padding-top: 0px;
}
a:visited{
  color:white;
  text-decoration: none;
}

a{
  color:white;
  text-decoration: none;
}
#form{
  background-image: url(../assets/images/banner-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 160px;
  width:100%;
  color:white;
}
#container{
  margin:auto;
  width:100%;
}
#submit{
  text-align: right;
  text-indent: 10px;
}
#inSubmit{
  color:black;
}
h1{
  text-align: left;
  text-indent: 40px;
}

input[type=text]{
  width:100%;
  background-color: inherit;
  border-color: white;
  border-style: groove;
  border-radius: 5px;
}
textarea{
  width:100%;
  border-color: white;
  border-style: groove;
  border-radius: 5px;
  height: 200px;
}
