#top{
  margin: 0px;
  padding:0px;
  padding-top: 0px;
}
header{
  background-color: black;
  height: 60px;
  text-align: right;
  position: fixed;
  width: 100%;
}
nav{
  text-align: right;
}
#top{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-style: normal;
  font-weight: bold;
  margin: 0px;
  padding:0px;
  padding-top: 0px;
}
a:visited{
  color:white;
  text-decoration: none;
}

a{
  color:white;
  text-decoration: none;
  float:right;
  text-indent: inherit;
}
h1{
  float:left;
}
