header{
  height: 60px;
  text-align: right;
  position: fixed;
  width: 100%;
}
nav{
  text-align: right;
}
#top{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-style: normal;
  font-weight: bold;
  margin: 0px;
  padding:0px;
  padding-top: 0px;
  background-color:white;
}
a:visited{
  color:white;
  text-decoration: none;
}
a{
  color:white;
  text-decoration: none;
  float:right;
  text-indent: inherit;
}
h1{
  float:left;
}
#aboutd{
  padding:10%
}
#imag{
  float:left;
  margin:10%;
  border: 2px solid grey;
  border-radius: 5px;

}
#aboutus{
  border-radius: 5px;
  border-color: grey;

  padding:5%;
}
