header{
  background-image: url(assets/images/bg2.jpg);
  height: 450px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: right;
}
nav{
  text-align: right;
  opacity: 0.7;
}
#qshop{
  float:left;
}
#top{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-style: normal;
  font-weight: bold;
  margin: 0px;
  padding:0px;
  padding-top: 0px;
  color: black;
}
a:visited{
  color:white;
  text-decoration: none;
}

a{
  text-indent: 20px;
  line-height: 2.4;
  color:white;
  text-decoration: none;
}
.button{
  background-color: inherit;
  color:white;
  font-size: 30px;
  border-radius: 12px;
  border: 2px solid #e7e7e7;

}
.button:hover{
  box-shadow: 0 18px 20px 0 rgba(0,0,0,0.24), 0 20px 60px 0 rgba(0,0,0,0.19);
  color:magenta;
  background-color: inherit;
}
#Learnmore{
  padding-top:120px;
}
#about{
  margin:0px;
}
#aboutSection{
  margin:0px;
  padding: 20px;
  background-color: #58ACFA;
}
.button1{
  border-radius: 60%;
  background-color: inherit;
  color:white;
  font-size: 60px;
  border-radius: 200px;
  border: 2px solid #e7e7e7;
}

.button1:hover{
  box-shadow: 0 18px 20px 0 rgba(0,0,0,0.24), 0 20px 60px 0 rgba(0,0,0,0.19);
  color:LightCoral;
  background-color: inherit;
}

#about2{
  margin:0px;
  padding: 20px;
  background-color: #BE81F7;
}
#footerSection{
  margin: 0px;
  padding: 5px;
  background-color: #58ACFA;
}
#sectionImg{
  margin:0px;
  padding: 20px;
  background-color: #D8D8D8;
}
.icon-wrapper{
  width:100px;
  height: 100px;
  border: 1px solid white;
  border-radius: 50%;
  position: relative;
}
.icon-wrapper img{
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50px;
  width: 50px;
  margin-left: -25px;
  margin-top: -25px;
}

.image-wrapper img{
  width: 100%;
  margin-bottom: 30px;
}
