#top{
  margin: 0px;
  padding:0px;
  padding-top: 0px;
}
header{
  background-color: black;
  height: 60px;
  text-align: right;
  position: fixed;
  width: 100%;
}
nav{
  text-align: right;
}
#top{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-style: normal;
  font-weight: bold;
  margin: 0px;
  padding:0px;
  padding-top: 0px;
}
a:visited{
  color:white;
  text-decoration: none;
}

a{

  color:white;
  text-decoration: none;
}
#form{
  background-color: #3EA99F;
  color: white;
  padding: 120px;
  width:auto;
}
#container{
  margin:auto;
  width: 50%;
}
#login{
  float:right;
}
h1{
  text-align: left;
  text-indent: 40px;
}

input[type=text]{
  width:100%;
  background-color: inherit;
  border-color: white;
  border-style: groove;
  border-radius: 5px;
}
